name: test

on: [pull_request, push]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox
      - name: Run tox -e lint
        run: tox
        env:
          TOXENV: lint

  test:
    name: unittests
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - python: '3.10'
            django: '4.2'
            wagtail: '6.2'
          - python: '3.13'
            django: '4.2'
            wagtail: '6.2'
          - python: '3.12'
            django: '5.1'
            wagtail: '6.3'
          - python: '3.13'
            django: '5.1'
            wagtail: '6.3'
          - python: '3.12'
            django: '5.1'
            wagtail: '6.4'
          - python: '3.13'
            django: '5.1'
            wagtail: '6.4'

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox coveralls
      - name: Run tox
        run: |
            tox
        env:
          TOXENV: python${{ matrix.python }}-django${{ matrix.django }}-wagtail${{ matrix.wagtail }}

      - name: Store test coverage
        uses: actions/upload-artifact@v4
        with:
          name: coverage-py${{ matrix.python }}-dj${{ matrix.django }}-wag${{ matrix.wagtail }}
          path: .coverage.*
          include-hidden-files: true

  coverage:
    name: coverage
    runs-on: ubuntu-latest
    needs:
      - test

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox

      - name: Retrieve test coverage
        uses: actions/download-artifact@v4
        with:
          pattern: coverage-*
          merge-multiple: true

      - name: Check coverage
        run: tox -e coverage

